body {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: large;
    color: rgb(27, 27, 27);
}

img {
    border-radius: 20px;
    box-shadow: 5em rgba(0, 0, 0, 0.2);
    height: 50em;
    width: auto;
}

#title {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
